/* Basic stuff */
body {
    font-family: 'Roboto', sans-serif;
}

/* Forms */
#genForm {
    width: auto;
    height: auto;
    justify-content: center;
    padding: auto;
}

#genForm div {
    padding-top: 20%;
    padding-left: 50%;
}

#genForm select {
    width: 20px;
    height: 10px;
}

.flex-box {
    display: flex;
}

.flex-box div {
    margin: 5%;
}