body {
    font-family: 'Roboto', sans-serif;
}

[data-slots] {
    font-family: monospace;
}

#genForm {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: auto;
}

#genForm form {
    padding-top: 20%;
    padding-left: 50%;
}